.header {
  position: relative;
  width: 100%;
  top: 16px;
}

@media (max-width: 992px) {
  .header {
    display: none;
  }
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list li {
  padding: 0 30px;
}

.menu__list li:nth-child(3) {
  padding-right: 150px;
}

.menu__list li:nth-child(4) {
  padding-left: 150px;
}

.menu__link {
  color: #555555;
  font-weight: 400;
  font-size: 14px;
}

.menu__link--active {
  color: #5363db;
  position: relative;
}

.menu__link--active:after {
  display: block;
  content: " ";
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: #5363db;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.header__logo {
  position: absolute;
  left: 50%;
  top: 0;
}

.logo__item {
  display: block;
}
